In [2]:
import pandas as pd
nomes = ("Minas Gerais", "Amazonas", "Maranhão", "Goiás", "Santa Catarina")
siglas = ("MG", "AM", "MA", "GO", "SC")
estados = pd.Series(siglas, nomes)
estados

Minas Gerais      MG
Amazonas          AM
Maranhão          MA
Goiás             GO
Santa Catarina    SC
dtype: object

In [11]:
colunas = ('A', 'B', 'C', 'D')
linhas = (0, 1)
dados = [[1, 2, 3, 4],[5, 6, 7, 8]]
df = pd.DataFrame(dados, linhas, colunas)
df

   A  B  C  D
0  1  2  3  4
1  5  6  7  8

In [12]:
df = df.drop("C", axis=1)
df

   A  B  D
0  1  2  4
1  5  6  8